<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

  <!-- the JBI container -->
  <bean id="jbi" class="org.servicemix.jbi.container.SpringJBIContainer">
    <property name="componentNames">
      <list>
        <value>sender</value>
        <value>receiver</value>
      </list>
    </property>
  </bean>

  <!-- components within the JBI container -->

  <!-- these are more lightweight POJOs which don't implement the full JBI Component interface -->
  <bean id="sender" class="org.servicemix.tck.SenderPojo"/>

  <bean id="receiver" class="org.servicemix.components.groovy.GroovyComponent">
    <property name="scriptText">
      <value>
System.out.println """
Groovy script evaluated with the following variables
message: $message
message exchange: $messageExchange
componentContext: $componentContext
deliveryChannel: $deliveryChannel
"""
      </value>
    </property>
  </bean>

</beans>
