<?xml version="1.0" encoding="UTF-8"?>
<!--

    Licensed to the Apache Software Foundation (ASF) under one or more
    contributor license agreements.  See the NOTICE file distributed with
    this work for additional information regarding copyright ownership.
    The ASF licenses this file to You under the Apache License, Version 2.0
    (the "License"); you may not use this file except in compliance with
    the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>ServiceMix Console</display-name>

  <context-param>
    <param-name>servicemixJmxUrl</param-name>
    <param-value>service:jmx:rmi:///jndi/rmi://localhost/JMXConnector</param-value>
  </context-param>
  <context-param>
    <param-name>servicemixJmxUsername</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>servicemixJmxPassword</param-name>
    <param-value>manager</param-value>
  </context-param>
  <context-param>
    <param-name>servicemixContainerName</param-name>
    <param-value>servicemix</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.servicemix.console.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
      <display-name>Geronimo Console</display-name>
      <servlet-name>se-console</servlet-name>
      <servlet-class>org.apache.pluto.portalImpl.Servlet</servlet-class>
  </servlet>

  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIContainer Portlet</display-name>
    <servlet-name>JBIContainer</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIContainerPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIContainer</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIAudit Portlet</display-name>
    <servlet-name>JBIAudit</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIAuditPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIAudit</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIComponents Portlet</display-name>
    <servlet-name>JBIComponents</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIComponentsPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIComponents</param-value>
    </init-param>
  </servlet>

    <servlet-mapping>
        <servlet-name>se-console</servlet-name>
        <url-pattern>/portal/*</url-pattern>
    </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JBIContainer</servlet-name>
    <url-pattern>/JBIContainer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JBIAudit</servlet-name>
    <url-pattern>/JBIAudit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JBIComponents</servlet-name>
    <url-pattern>/JBIComponents/*</url-pattern>
  </servlet-mapping>
    
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/portlet</taglib-uri>
            <taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
