<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>ServiceMix Console</display-name>

    <servlet>
        <display-name>Geronimo Console</display-name>
        <servlet-name>se-console</servlet-name>
        <servlet-class>org.apache.pluto.portalImpl.Servlet</servlet-class>
    </servlet>

  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIContainer Portlet</display-name>
    <servlet-name>JBIContainer</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIContainerPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIContainer</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIAudit Portlet</display-name>
    <servlet-name>JBIAudit</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIAuditPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIAudit</param-value>
    </init-param>
  </servlet>
  <servlet>
    <description>Portlet Invoker Servlet</description>
    <display-name>JBIComponents Portlet</display-name>
    <servlet-name>JBIComponents</servlet-name>
    <servlet-class>org.apache.pluto.core.PortletServlet</servlet-class>
    <init-param>
      <param-name>portlet-class</param-name>
      <param-value>org.apache.servicemix.console.JBIComponentsPortlet</param-value>
    </init-param>
    <init-param>
      <param-name>portlet-guid</param-name>
      <param-value>servicemix-console.JBIComponents</param-value>
    </init-param>
  </servlet>

    <servlet-mapping>
        <servlet-name>se-console</servlet-name>
        <url-pattern>/portal/*</url-pattern>
    </servlet-mapping>

  <servlet-mapping>
    <servlet-name>JBIContainer</servlet-name>
    <url-pattern>/JBIContainer/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JBIAudit</servlet-name>
    <url-pattern>/JBIAudit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JBIComponents</servlet-name>
    <url-pattern>/JBIComponents/*</url-pattern>
  </servlet-mapping>
    
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/portlet</taglib-uri>
            <taglib-location>/WEB-INF/tld/portlet.tld</taglib-location>
        </taglib>
    </jsp-config>

</web-app>
